[submodule "public"]
	path = public
	url = git@github.com:klue/klue.github.io.git
	branch = master
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = git@github.com:halogenica/beautifulhugo.git
